<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<th:block th:replace="~{/layout/layout1 :: setContent(~{this::content} )}">
	<th:block th:fragment="content">
<link th:href="@{/css/modify.css}" rel="stylesheet" />

     <!-- 페이지 수정 -->
     <form action="/travelrecord/modify" method="post">
		<div class="form-group">
			<h3 style="margin-bottom: 20px;">여행기록 수정</h3>
			
			<!-- 페이지 번호 -->
			<input type="hidden" name="page" th:value="${requestDTO.page}">
			<!-- 번호 -->
			<input type="hidden" name="tnum" th:value="${dto.tnum}">
			
			<label class="labels">작성자 : </label> 
			<input class="form-control" type="text" name="writer" th:value="${dto.writer}" readonly>
		</div>
		<div class="form-group">
			<label class="labels">나라 : </label> 
			<input class="form-control"
				type="text" name="title" placeholder="첫 글자는 대문자인 영어로만 작성해주세요" th:value="${dto.title}">
		</div>
		<div class="form-group">
			<label class="labels">여행기간 : </label> 
			<input class="form-control"
				type="text" name="travelDate"
				placeholder="0000-00-00~0000-00-00으로 입력해주세요" th:value="${dto.travelDate}">
		</div>
		<div class="form-group">
			<label class="labels">내용 : </label>
			<textarea class="form-control" name="content" rows="2" cols="50">[[${dto.content}]]</textarea>
		</div>
		
		
	</form>
	<!-- 버튼 -->
	<div class="form-group">
		<button class="btn" type="submit" id='modifyBtn'>수정 등록</button>
		<!-- <button class="btn" type="reset" id="resetBtn">초기화</button> -->
		<button class="btn" type="button" id="removeBtn">삭제</button>
        <button class="btn" type="button" id='listBtn'>목록</button>
	</div>
	
     <script th:inline="javascript">
     
        <!-- 수정 버튼 -->
     	var modifyForm = $("form");
     	
     	$("#modifyBtn").click(function() {
     		if(!confirm("수정하시겠습니까?")) {
     			return;
     		}
     		modifyForm.attr("action", "/travelrecord/modify").attr("method", "post");
     		
     		modifyForm.submit();
     	});
     	
     	<!-- 목록 버튼 -->
     	$("#listBtn").click(function() {
     		modifyForm.attr("action", "/travelrecord/list").attr("method", "get");
     		
     		var pageInfo = $("input[name='page']");
     		
     		modifyForm.empty();
     		modifyForm.append(pageInfo);
     		
     		modifyForm.submit();
     	});
     	
     	<!-- 삭제 버튼 -->
     	$("#removeBtn").click(function() {
     		if(!confirm("삭제하시겠습니까?")) {
     			return;
     		}
     		modifyForm.attr("action", "/travelrecord/remove").attr("method", "post");
     		
     		modifyForm.submit();
     	});
     	</script>
     
	</th:block>
</th:block>