<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<th:block th:replace="~{/layout/layout1 :: setContent(~{this::content} )}">
	<th:block th:fragment="content">
<link th:href="@{/css/register.css}" rel="stylesheet" />

	<!-- 게시글 등록 -->
	<form th:action="@{/travelrecord/register}" th:method="post">
		<div class="form-group">
			<h3 style="margin-bottom: 20px;">여행기록 작성</h3>
			<label class="labels">작성자 : </label> <input class="form-control"
				type="text" name="writerName">
		</div>
		<div class="form-group">
			<label class="labels">작성자 이메일 : </label> <input class="form-control"
				type="email" name="writerEmail">
		</div>
		<div class="form-group">
			<label class="labels">나라 : </label> <input class="form-control"
				type="text" name="title" placeholder="첫 글자는 대문자인 영어로만 작성해주세요">
		</div>
		<div class="form-group">
			<label class="labels">여행기간 : </label> <input class="form-control"
				type="text" name="travelDate"
				placeholder="0000-00-00~0000-00-00으로 입력해주세요">
		</div>
		<div class="form-group">
			<label class="labels">내용 : </label>
			<textarea class="form-control" name="content" rows="2" cols="50"></textarea>
		</div>
		
		<!-- 첨부파일  -->
		<input name="uploadImages" type="file" multiple>
		<button class="uploadBtn">등록</button>
		
		<div class="uploadResult">
		
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		
		<script>
			$(".uploadBtn").click(function() {
				var formData = new FormData();
				var inputFile = $("input[type]='file'"]);
				var files = inputFile[0].files;
				
				for(var i=0; i<files.length; i++) {
					console.log(files[i]);
					formData.append("uploadImages", files[i]);
				}
				
				$.ajax({
					url: '/uploadImage',
					type: 'POST',
					processData: false,
					contentType: false,
					data: formData,
					dataType: 'json',
					success: function(result){
						showUploadImaages(result);
					},
					error: function(jqXHR, textStatus, errorThrown) {
						console.log(textStatus);
					}
				});
				
			});
			
			function showUploadImages(arr) {
				console.log(arr);
				
				var divArea = $(".uploadResult");
				
				var str ="";
				
				for(var i=0; i<arr.length; i++) {
					str += "<div>";
					str += "<img src='/display?imageName="arr[i].thumbnailURL+"'>";
					str += "<button class='removeBtn' data-name='"arr[i].imageURL+"'>삭제</button>";
					str += "</div>";
				}
				divArea.append(str);
			}
			
			$(".uploadResult").click(function(){
				var target = $(this);
				var imageName = target.data("name");
				var targetDiv = $(this).closest("div");
				
				console.log(imageName);
				
				$.post('/removeImage', {imageName : imageName}, function(result){
					console.log(result);
					
					if(result == true){
						targetDiv.remove();
					}
				})
			});
		</script>
		
		<!-- 버튼 -->
		<div class="form-group">
			<button class="btn" type="submit" id="registerBtn"style="background-color: yellow;">등록</button>
			<button class="btn" type="reset" id="resetBtn">초기화</button>
			<!-- <a th:href="@{/travelrecord/list(tnum=${dto.tnum}, page=${requestDTO.page})}">
            	<button class="btn" data-oper="listPost" id='listBtn'>목록</button>
            </a> -->
		</div>
	</form>
     
     <script th:inline="javascript">
     	var registerForm = $("form");
     	
     	$("#registerBtn").click(function() {
     		if(!confirm("등록하시겠습니까?")) {
     			return;
     		}
     	});
     </script>
	</th:block>
</th:block>