<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 첨부파일  -->
		<div class="form-group">
			<input name="uploadImages" type="file" multiple>
			<!-- label class="images" data-browse="Browse"></label> -->
			<button class="uploadBtn">업로드</button>
			
			<div class="uploadImageResult">
				<ul>
				
				</ul>
			</div>
			
			<div class="box">
				
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.6.0.js" 
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		 crossorigin="anonymous"></script>
</body>
</html>